<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Poll App
  </h1>
</div>
<h2>Available Polls:</h2>
<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Options</th>
        <th scope="col">Votes</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let poll of polls">
        <th scope="row">{{poll.name}}</th>
        <td>
          <table class="table table-borderless">
            <tbody>
              <tr *ngFor="let choice of poll.choices">
                <td>
                  <input type="radio" name="{{poll.id}}" id="{{choice.choiceId}}"
                    (click)="vote(poll.id,choice.choiceId)">
                  {{choice.name}}
                </td>
              </tr>
            </tbody>
          </table>
        </td>
        <td>
          <google-chart #chart [type]="type" [data]="poll.data" [options]="" [width]="width" [height]="height">
          </google-chart>
        </td>
      </tr>
    </tbody>
  </table>
</div>
